node_modules
coverage
*.log
npm-debug.log*
.logs
logs
*.swp
run
*-run
.idea
.DS_Store
.tmp

.*
!.github
!.eslintignore
!.eslintrc
!.gitignore
!.travis.yml
*.bin

zookeeper.out
zookeeper-3.4.6
*/**/pom.xml
*/**/apiMeta.json
*/**/target
test/fixtures/**/src
