sudo: false
language: node_js
node_js:
  - '10'
  - '12'
  - '14'
  - '16'
before_install:
  - 'tar xf zookeeper-3.4.6.tar.gz'
  - 'mv zookeeper-3.4.6/conf/zoo_sample.cfg zookeeper-3.4.6/conf/zoo.cfg'
  - './zookeeper-3.4.6/bin/zkServer.sh start'
  - npm install -g npminstall
install:
  - npminstall
script:
  - npm run ci
after_script:
  - npminstall codecov && codecov
